# External clock generator:
TIMESPEC TS_CLK_50M = PERIOD "CLK_50M" 20 ns HIGH 50 %;
NET "CLK_50M" LOC = T8				|	IOSTANDARD = LVCMOS33;

# Analog-Digital Converter PCM1808:
NET "PCM1808_BCK"		LOC = N16	|	IOSTANDARD = LVCMOS33	|	PULLDOWN;		# J2-10
NET "PCM1808_DOUT"	LOC = M16	|	IOSTANDARD = LVCMOS33	|	SLEW = SLOW;	# J2-8
NET "PCM1808_FMT"		LOC = P16	|	IOSTANDARD = LVCMOS33	|	SLEW = SLOW;	# J2-9
NET "PCM1808_LRCK"	LOC = K15	|	IOSTANDARD = LVCMOS33	|	PULLDOWN;		# J2-6
NET "PCM1808_MD[0]"	LOC = L16	|	IOSTANDARD = LVCMOS33	|	SLEW = SLOW;	# J2-5
NET "PCM1808_MD[1]"	LOC = M15	|	IOSTANDARD = LVCMOS33	|	SLEW = SLOW;	# J2-7
NET "PCM1808_SCKI"	LOC = J16	|	IOSTANDARD = LVCMOS33	|	SLEW = SLOW;	# J2-4

# Digital-Analog Converter PCM5102A:
NET "PCM5102A_FLT"	LOC = C10	|	IOSTANDARD = LVCMOS33	|	SLEW = SLOW;	# J3-29
NET "PCM5102A_DEMP"	LOC = E16	|	IOSTANDARD = LVCMOS33	|	SLEW = SLOW;	# J3-31
NET "PCM5102A_XSMT"	LOC = F16	|	IOSTANDARD = LVCMOS33	|	SLEW = SLOW;	# J3-33
NET "PCM5102A_FMT"	LOC = H15	|	IOSTANDARD = LVCMOS33	|	SLEW = SLOW;	# J3-35
NET "PCM5102A_SCK"	LOC = C9		|	IOSTANDARD = LVCMOS33	|	SLEW = SLOW;	# J3-27
NET "PCM5102A_BCK"	LOC = D16	|	IOSTANDARD = LVCMOS33	|	SLEW = SLOW;	# J3-25
NET "PCM5102A_DIN"	LOC = C15	|	IOSTANDARD = LVCMOS33	|	SLEW = SLOW;	# J3-23
NET "PCM5102A_LRCK"	LOC = B15	|	IOSTANDARD = LVCMOS33	|	SLEW = SLOW;	# J3-21